# Table of Contents

### a. Prepare Notebook
### b. Create conditional: 'price_label'
### c. Use loc() method on whole set
### d. Set busiest day column

## Task
### 2. Create new column for busiest days
### 3. Check values of the new column
### 4. Create new column for hours of the day
### 5. Print frequency of the new column
### 7. Export Dataframe

### a. Prepare Notebook

In [20]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [21]:
#Import dataframe

path = r'C:\Users\PC Planet\Desktop\Self-Education\Data Immersion\Achievement 4\Instacart Basket Analysis'

ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [8]:
#Create subset for first million rows

df = ords_prods_merged[:1000000]

### b. Create conditional: 'price_label'

In [9]:
#Define conditional

def price_label(row):
    
    if row['prices'] <=5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High range'
    else: return 'Not enough data'

In [10]:
#Apply 'price_label' to dataframe

df['price_range'] = df.apply(price_label, axis = 1)

C:\Users\PC Planet\AppData\Local\Temp\ipykernel_18912\487175158.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [11]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [12]:
#Check most expensive product

df['prices'].max()

14.8

### c. Use loc() method on whole set

In [22]:
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High range product'

In [23]:
ords_prods_merged.loc[(ords_prods_merged['prices'] > 5) & (ords_prods_merged['prices'] <= 15), 'price_range_loc'] = 'Mid-range product'

In [25]:
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low range product'

In [26]:
ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low range product     10126321
High range product      417678
Name: price_range_loc, dtype: int64

### d. Set busiest day column

In [29]:
#Check order numbers and days of week

ords_prods_merged['orders_day_of_week'].value_counts(dropna=False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [30]:
#Create conditional

result = []

for value in ords_prods_merged['orders_day_of_week']:
    if value ==0:
        result.append('Busiest Day')
    elif value == 4:
        result.append('Least Busy')
    else:
        result.append('Regularly Busy')

In [31]:
#Create column from list

ords_prods_merged['busiest_day'] = result

In [32]:
#Check operation

ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly Busy    22416875
Busiest Day        6204182
Least Busy         3783802
Name: busiest_day, dtype: int64

#Task Begin

### 2. Create new column for busiest days

In [33]:
#The directions say they want the 'busiest day' column to BECOME a 'busiest days' column, so first, drop the old column

ords_prods_merged = ords_prods_merged.drop(columns = ['busiest_day'])

In [34]:
#Create conditional

days = []

for x in ords_prods_merged['orders_day_of_week']:
    if (x == 0) or (x == 1):
        days.append('Busy Day')
    elif (x == 3) or (x == 4):
        days.append('Slow Day')
    else: days.append('Regular Day')

In [35]:
#Assign conditional to new column

ords_prods_merged['busiest_days'] = days

In [36]:
#Check column headers for confirmaion

ords_prods_merged.head()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days
0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid-range product,Regular Day
1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slow Day
2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slow Day
3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slow Day
4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slow Day

### 3. Check values of the new column

In [37]:
#Frequency

ords_prods_merged['busiest_days'].value_counts(dropna = False)

Regular Day    12916111
Busy Day       11864412
Slow Day        7624336
Name: busiest_days, dtype: int64

Total counts are identical, so no data has been dropped.
The amount of business on the two busiest days is almost as much as three regular days (business on the busiest days goes up 138% from that of regular days).
Business on the two slowest days drops to 89% of that of the regular days--still quite good!

### 4. Create new column for hours of the day

In [38]:
#Check frequency of order hours

ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

We have to now define a somewhat arbitrary designation for "most," "average," and "fewest." The easiest method would seem to be equal allocations of time, 8 hours each.

In [39]:
#Create conditional

hours = []

for h in ords_prods_merged['order_hour_of_day']:
    if (h >= 9) and (h <= 16):
        hours.append('Most Orders')
    elif h <= 6:
        hours.append('Fewest Orders')
    else: hours.append('Average Orders')

In [40]:
#Create column

ords_prods_merged['busiest_period_of_day'] = hours

### 5. Print frequency of the new column

In [41]:
ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most Orders       21118071
Average Orders    10399967
Fewest Orders       886821
Name: busiest_period_of_day, dtype: int64

### 7. Export Dataframe

In [42]:
ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_newcol.pkl'))